.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-light);
    width: 100%;
    height: 57.125rem;
    padding: 6.25rem 10.31rem;
    z-index: 1;
}

.header__fon {
    position: absolute;
    top: -1rem;
    left: 0;
    width: auto;
    opacity: 0.06;
}

.header__image {
    position: absolute;
    top: 3.44rem;
    right: -6rem;
    width: auto;
    height: 32.8125rem;
    z-index: -1;
}

.header__title {
    width: 71.125rem;
    height: 16.125rem;
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    margin: 0;
}

.header__title1 {
    display: block;
    line-height: 5.375rem;
    color: var(--color-primary);
}

.header__title2 {
    display: block;
    color: var(--color-dark);
}

.header__content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}

.header__rightcontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.5rem;
    flex-basis: fit-content;
    color: var(--color-dark);
}

.header__leftcontent {
    flex-basis: fit-content;
    color: var(--color-dark);
}

.header__button {
    border: none;
    font-weight: 700;
    line-height: 160%;
    color: var(--color-white);
    text-transform: uppercase;
    width: 9.25rem;
    height: 3rem;
    background: var(--color-primary);
}
